@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #0F0F0F;
  color: #FEFEFE;
}

#container {
}


.div-avatar-user-border {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.img-avatar-user {
  width: 170px;
  height: 170px;
  object-fit: cover;
  background-size: cover;
  border-radius: 50%;
  border: 15px solid #FEFEFE57;
  outline: 15px solid #FEFEFE33;
}

.div-name-user-border {
  margin-top: 25px;
}

.p-name-user {
  text-align: center;
  font-size: 28px;
}

.div-mxh-fast-border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.a-button-fast {
  margin-inline: 5px;
  text-decoration: none;
  color: #FEFEFE;
  background: #1F1F1F;
  padding: 10px 13px;
  border-radius: 6px;
}

.icon-fast {
  margin-right: 3px;
}

.div-list-friend-border {
  margin: 35px 25px 25px 25px;
}

.p-friend {
  margin-bottom: 20px;
  font-size: 18px;
}

.a-friend {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FEFEFE;
  background: #1F1F1F;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.25s ease-out;
}

.a-friend:hover .p-icon-friend {
  font-size: 30px;
}

.p-icon-friend {
  padding-right: 20px;
  font-size: 20px;
  transition: all 0.25s ease-out;
}

.p-name-friend {
  font-size: 18px;
}