@font-face {
  font-family: 'Poppins-Light';
  src: url(Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(Poppins-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Poppins-Light';
}

:root {
  --background-color: #171717;
  --title-color: #FFFFFF;
  --content-color: #FFC6BB;
  --button-color: #1E1E1E;
  --box-color: #1E1E1E;
}

body {
  background-color: var(--background-color);
  color: var(--content-color);
}

#container {
  margin: 25px;
}

.border-bg {
}

.img-bg {
  height: 400px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.border-name-user {
  margin-top: 30px;
  color: var(--title-color);
}

.p-hello-user {
  font-size: 20px;
  font-family: 'Poppins-Light';
}

.p-name-user {
  font-size: 25px;
  font-family: 'Poppins-Regular';
}

.icon-code {
  margin-right: 5px;
}

.border-icon-code {
  display: flex;
  align-items: center;
}

.job-user {
  padding-left: 5px;
  font-family: 'Poppins-Regular';
}

.border-check {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  color: var(--title-color);
  background-color: var(--box-color);
  border: 5px solid #1A1A1A;
}

.box-check-1 {
  margin-right: 8px;
}

.p-title-check {
  font-size: 18px;
  font-family: 'Poppins-Regular';
}

.p-content-check {
  font-size: 12px;
}

.img-check {
  width: 100px;
}

.border-widget {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
}

.box-widget-mxh {
  background-color: var(--box-color);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 18px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  border: 5px solid #1A1A1A;
}

.a-widget-mxh {
  text-decoration: none;
  background: #0015FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-widget {
  color: var(--title-color);
  font-size: 25px;
}

.mxh-icon-1 {
  background: #0048FF;
}

.mxh-icon-2 {
  background: #191919;
}

.mxh-icon-3 {
  background: #2B67FF;
}

.mxh-icon-4 {
  background: #FF00A0;
}

.box-widget-tips {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 18px;
  overflow: hidden;
  background-color: var(--box-color);
  border: 5px solid #1A1A1A;
  padding: 15px;
}

.img-widget-tips {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.box-widget-tips p {
  color: var(--title-color);
  font-size: 15px;
}